<app-after_login_header_Global></app-after_login_header_Global>

<div class="innerMain_wraper">
	<div class="wrapper">
		
	<div class="col-sm-12">
		<div class="white_block">
		<div class="title_sec"><h2>Notices</h2></div>
		 
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
		
		<form [formGroup]="myForm">
			<label for="futureDate">Select a Future Date:</label>
			<input type="datetime-local" id="futureDate" formControlName="futureDate" />
		  </form>
			
		</div>
	</div>
		
	</div>
	</div>