
<!-- <app-Before_login_header_N_Home [hidden]="withoutLogin_headerShow"></app-Before_login_header_N_Home>
<app-after_login_header_Global [hidden]="afterLogin_headerShow"></app-after_login_header_Global> -->

<div class="rejistrationPageLogo rejistrationPageLogo_Page">  <app-Before_login_header_N_Home [hidden]="withoutLogin_headerShow"></app-Before_login_header_N_Home> </div>

<!-- <div class="forDesktopHeader_login"><app-after_login_header_Global [hidden]="afterLogin_headerShow"></app-after_login_header_Global></div> -->
<div class="forResponsiveHeader_login"><app-headerResponsive [hidden]="afterLogin_headerShow"></app-headerResponsive></div>


<!-- <app-Before_login_header_N_Home></app-Before_login_header_N_Home> -->
<!-- <app-after_login_header_Global></app-after_login_header_Global> -->

<div class="innerMain_wraper_page">
	<div class="wrapper">
		

	<div class="col-sm-12">
		<div class="white_block">

		<div class="row">

		<div class="col-sm-12">
		<div class="title_sec_main">
			<h2>About Us</h2></div>
			<div class="innerDefaultPage">
<!-- 
				<ul class="brxe-list">
					<li>fgdfgfghfgh</li>
				</ul> -->

			<p>Once someone said, “Finding the right person is like finding a needle in a haystack, but when you do, it’s worth the search”. To complete the meaning of this precious line, My Soul Mate brings a new adventure to their matrimonial site, called the astrological and numerical match- where you go on a cosmic journey of love. </p>
				
			<p>Devine by a passion for love and depth of knowledge of cosmic connections, Koushik D Kashyap, founded “My Soul Mate” with a vision to reshuffle the way people find the love of their lives. As a famous astrologer, he has spent decades delving into the intricacies of these fields, allowing him to comprehend the unparalleled impact they can have on love and relationships. His vision for "My Soul Mate" is simple yet profound: to empower individuals to find their perfect life partners by harnessing the insights offered by numerology and astrology</p>
				
			<p>His unique approach combines the beauty of romance with the precision of science, offering a balanced and holistic perspective on compatibility. His commitment to providing a safe, reliable, and innovative platform for matrimonial matchmaking is at the heart of "My Soul Mate." He is dedicated to ensuring that the platform maintains the highest standards of privacy, accuracy, and user experience. Every feature and service offered is a testament to his unwavering dedication to helping individuals on their journey to finding true love. Join us on a celestial voyage to find your soulmate, where numbers and stars chart the course of your love story.</p>
		</div>
		
		</div>

		
		</div>

		</div>
	</div>

	</div>
	</div>

	<div class="footer_bottomSec">

		<a routerLink="/home" class="login_link_bot"><i class="fa fa-home" aria-hidden="true"></i>
			<span>Home</span>
			</a>

		<!-- <a routerLink="/aboutus" class="login_link_bot">
			<i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
		<span>About Us</span>
		</a> -->
	
		<a routerLink="/terms-condition" class="login_link_bot">
			<i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
		<span>Terms Of Condition</span>
		</a>
	
		<a routerLink="/privacypolicy" class="login_link_bot">
			<i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
		<span>Privacy Policy</span>
		</a>
		</div>

