<!-- <app-after_login_header_Global></app-after_login_header_Global> -->
<!-- <div class="forResponsiveHeader_login"><app-headerResponsive [hidden]="afterLogin_headerShow"></app-headerResponsive></div> -->


		
	<div class="col-sm-12">
		<div class="white_block">
			
		<div class="row">
			

			<div class="col-sm-12">
		<div class="title_sec_main">
			<h2>Add Your Hobbies</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
		</div>	
		</div>	
			
		<div class="col-sm-3 float-left">
		<div class="blue_leftSec">
		
		<div class="title_sec">
			<h2><img src="assets/images/hobbi.png" alt=""> Add Your Hobbies</h2>
		</div>
			
			  <ul>
    <li id="headhobbies"> <a href="#" onclick="scrollto('hobbies')">Hobbies &amp; Interests</a></li>
    <li id="headmusic"> <a href="#" onclick="scrollto('music')">Music</a></li>
    <li id="headreading"> <a href="#" onclick="scrollto('reading')">Reading</a></li>
    <li id="headmovie"> <a href="#" onclick="scrollto('movie')">Movie and TV shows</a></li>
    <li id="headsports"> <a href="#" onclick="scrollto('sports')">Sports and Fitness</a></li>
    <li id="headfood"> <a href="#" onclick="scrollto('food')">Food</a></li>
    <li id="headlanguages"> <a href="#" onclick="scrollto('languages')">Spoken languages</a></li>
  </ul>
		</div>	
		</div>
			
		<div class="col-sm-9 float-left blue_rightSec">
			
			
			
			<div class="hobbies_sec">
				
			<div class="title_sec">
			<h2>Choose your Hobbies &amp; Interests</h2>
			</div>
				
			<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  <label class="form-check-label" for="inlineCheckbox1">Acting </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
  <label class="form-check-label" for="inlineCheckbox2">Adventure sports</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox22" value="option2">
  <label class="form-check-label" for="inlineCheckbox2"> Alternative healing / Medicine </label>
</div>				
			</div>
			
			
			<div class="hobbies_sec">
				
			<div class="title_sec">
			<h2>Choose the music genres you listen to</h2>
			</div>
				
			<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option1">
  <label class="form-check-label" for="inlineCheckbox11">xxxxxxxxx </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox44" value="option2">
  <label class="form-check-label" for="inlineCheckbox44">xxxxxxxxx</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox33" value="option2">
  <label class="form-check-label" for="inlineCheckbox33"> xxxxxxxxxxxx </label>
</div>				
			</div>
			
			<div class="hobbies_sec">
				
			<div class="title_sec">
			<h2>Choose the music genres you listen to</h2>
			</div>
				
			<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option1">
  <label class="form-check-label" for="inlineCheckbox11">xxxxxxxxx </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox44" value="option2">
  <label class="form-check-label" for="inlineCheckbox44">xxxxxxxxx</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox33" value="option2">
  <label class="form-check-label" for="inlineCheckbox33"> xxxxxxxxxxxx </label>
</div>				
			</div>
			
			
			<div class="hobbies_sec">
				
			<div class="title_sec">
			<h2>Choose the type of books you read</h2>
			</div>
				
			<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option1">
  <label class="form-check-label" for="inlineCheckbox11">xxxxxxxxx </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox44" value="option2">
  <label class="form-check-label" for="inlineCheckbox44">xxxxxxxxx</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox33" value="option2">
  <label class="form-check-label" for="inlineCheckbox33"> xxxxxxxxxxxx </label>
</div>				
			</div>
			
		<div class="hobbies_sec">
				
			<div class="title_sec">
			<h2>Choose the type of movies you watchd</h2>
			</div>
				
			<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option1">
  <label class="form-check-label" for="inlineCheckbox11">xxxxxxxxx </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox44" value="option2">
  <label class="form-check-label" for="inlineCheckbox44">xxxxxxxxx</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox33" value="option2">
  <label class="form-check-label" for="inlineCheckbox33"> xxxxxxxxxxxx </label>
</div>				
			</div>
			
		<div class="hobbies_sec">
				
			<div class="title_sec">
			<h2>Select Sports/ Fitness Activities/ Games</h2>
			</div>
				
			<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option1">
  <label class="form-check-label" for="inlineCheckbox11">xxxxxxxxx </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox44" value="option2">
  <label class="form-check-label" for="inlineCheckbox44">xxxxxxxxx</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox33" value="option2">
  <label class="form-check-label" for="inlineCheckbox33"> xxxxxxxxxxxx </label>
</div>				
			</div>
			
			
		<div class="hobbies_sec">
				
			<div class="title_sec">
			<h2>Choose your favourite cuisine</h2>
			</div>
				
			<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option1">
  <label class="form-check-label" for="inlineCheckbox11">xxxxxxxxx </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox44" value="option2">
  <label class="form-check-label" for="inlineCheckbox44">xxxxxxxxx</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox33" value="option2">
  <label class="form-check-label" for="inlineCheckbox33"> xxxxxxxxxxxx </label>
</div>				
			</div>	
			
			<div class="hobbies_sec">
				
			<div class="title_sec">
			<h2>Choose the languages you know</h2>
			</div>
				
			<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option1">
  <label class="form-check-label" for="inlineCheckbox11">xxxxxxxxx </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox44" value="option2">
  <label class="form-check-label" for="inlineCheckbox44">xxxxxxxxx</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox33" value="option2">
  <label class="form-check-label" for="inlineCheckbox33"> xxxxxxxxxxxx </label>
</div>				
			</div>
		
		<div class="continueBtn_sec">
		<input type="button" value="Submit" class="yellowBtn">
		</div>
			
		</div>
		</div>
			
		</div>
	</div>
		
