
<!-- <div *ngIf="pageName == 'home'; then hideBotMenu else showBotMenu">
  here is ignored</div>

  
  
  <ng-template #hideBotMenu>

  </ng-template>

  <ng-template #showBotMenu>
    <div class="footer_bottomSec">
   
        <ng-container *ngIf="pageName == 'registration'">
        <a (click)="bottomNav('home')" class="login_link_bot"><i class="fa fa-sign-in" aria-hidden="true"></i>
          <span>Login</span>
        </a>
      </ng-container>
      <ng-container *ngIf="pageName !== 'registration'">
        <a (click)="bottomNav('profile_list')" class="profList_link_bot"><i class="fa fa-users" aria-hidden="true"></i>
          <span>Matches</span>
        </a>
        <a (click)="bottomNav('wishlist')" class="wish_link_bot"><i class="fa fa-heart" aria-hidden="true"></i>
          <span>My Wishlist</span>
        </a>
        <a (click)="bottomNav('user_dashboard')" class="dash_link_bot"><i class="fa fa-tachometer" aria-hidden="true"></i>
          <span>Dashboard</span>
        </a>
      </ng-container>

      
      
      
      </div>
  </ng-template> -->



	
<div class="footerSec">
  <div class="wrapper">
  <div class="col-sm-6 float-left">
    <h3>Quick Link</h3>
    <ul>
    <!-- <li><a [routerLink]="['/home']">Home</a></li> -->
    <li><a [routerLink]="['/aboutus']">About Us</a></li>
    <li><a [routerLink]="['/terms-condition']">Terms Of Condition</a></li>
    <li><a [routerLink]="['/privacypolicy']">Privacy Policy</a></li>
    <!-- <li><a >Blog</a></li> -->
    <!-- <li><a href="#">Success stories</a></li> -->
    <!-- <li><a href="#">Sitemap</a></li> -->
    </ul>
  </div>
  <div class="col-sm-6 float-left">
    <h3 class="alignCus_right">Follow Us</h3>
    <ul class="socialMedia">
      <!-- +91 6289 378 340 -->
    <li><a aria-label="Chat on WhatsApp" href="https://wa.link/p1wp7n" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>  </li>
    <li><a href="https://www.facebook.com/visitmysoulmate/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
    <li><a href="https://youtube.com/@SHAAMBHAVIASTRO?si=E42VMKrSDNPfoh1x" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
    <!-- <li><a [routerLink]="['/']"><i class="fa fa-instagram" aria-hidden="true"></i> </a></li> -->
    </ul>
  </div>

  </div>
  </div>
    
  <div class="footerCopyright">
    <div class="wrapper">
      <div class="col-sm-6 float-left copyright_txt">
    All rights reserved © 2023-24 My Soul Mate
  </div>
  <div class="col-sm-6 float-left botAddress">
    <ul>
      <!-- <li>  <a href="tel:8276998997"><i class="fa fa-phone" aria-hidden="true"></i> 8276998997</a> </li> -->
      <li> <a href="mailto:info@mysoulmate.co.in"><i class="fa fa-envelope" aria-hidden="true"></i> info@mysoulmate.co.in</a></li>
    </ul>
  </div>
  </div>
    </div>