<!-- <app-after_login_header_Global></app-after_login_header_Global> -->
<div class="forDesktopHeader_login"><app-after_login_header_Global></app-after_login_header_Global></div>


<div class="forResponsiveHeader_login"><app-headerResponsive></app-headerResponsive></div>

<div class="innerMain_wraper idVerify_wraper">
  <div class="wrapper">
    <div class="col-sm-3 float-left portfolio_left">
      <app-leftBar_after_login></app-leftBar_after_login>
    </div>

    <div class="col-sm-9 float-left portfolio_right_wish">
      <div *ngIf="inProgressShort; else sowData" style="text-align:center; margin-top:20px;">
				<div class="spinner-border"></div>
			</div>
      <!-- <div class="portfolio_right"> -->
        <ng-template #sowData>
        <div *ngIf="dataArray?.length > 0; else noData">
              

          <div class="partnerListMobile">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide *ngFor="let newData of dataArray; let i=index">
                <div class="portfolio_Search_list_res">

                  

                  <ng-container *ngIf="newData.basic_information.value[0]?.file_path !== null; else noThumbnail">
                    <div class="thumbnailSec_res" [style.background-image]="'url(' + imageBaseUrl+newData.basic_information.value[0]?.file_path + ')'">

                      <ng-container *ngIf="this.localstorageDT.id != this.profile_UserId">
                        <!-- <button mat-mini-fab matTooltip="Remove From Wishlist"  class="astro_link_wish" color="warn"  (click)="enableButton(newData.basic_information.value[0]?.id,i)" aria-label="Example icon button with a heart icon">
                                <mat-icon>favorite</mat-icon>
                              </button> -->
                              <div class="removeFevarit_res">
      <button matTooltip="Remove From Wishlist"  class="removeFevarit_btn" (click)="enableButton(newData.basic_information.value[0]?.id,i)"><i class="fa fa-heart" aria-hidden="true"></i>
         Remove</button>
        </div>
                        </ng-container>

                        <!-- <div class="removeFevarit_res">
                          <div class="removeFevarit_btn" *ngIf="newData.basic_information.value[0]?.profile_verify_flag != 'N'"><img src="assets/images/verify_blue.png" alt="" />Verified</div>
                          </div> -->
                      
<div class="verificationPartner_res">
<div class="verifi_btn_res" *ngIf="newData.basic_information.value[0]?.profile_verify_flag != 'N'"><img src="assets/images/verify_blue.png" alt="" />Verified</div>

<div class="notVerifi_btn_res" *ngIf="newData.basic_information.value[0]?.profile_verify_flag != 'Y'"><img src="assets/images/verify_not.png" alt="" />Not Verified</div>

</div>
<div class="thumbnailSec_Descrip_res">

<h3>{{newData.basic_information.value[0]?.u_name}}
<ng-container *ngIf="newData.basic_information.value[0]?.profile_id != null">
<span>(ID: {{newData.basic_information.value[0]?.profile_id}})</span>
</ng-container>
</h3>

<p><strong class="title">Age:			</strong>{{ageCalculat(newData.basic_information.value[0]?.dob |
date:'yyyy-MM-dd')}} Years, <strong class="title">Height:</strong>
{{this.field_height_OBJ[newData.basic_information.value[0]?.height]}}

, {{newData.basic_information.value[0]?.mother_tong}},, </p>
<p><strong class="title">Cast:</strong>
{{newData.basic_information.value[0]?.caste_name}} 
<strong class="title">Occupation:
</strong>{{newData.groom_location.value[0]?.occu_name}}, <strong
class="title">Lives In</strong> {{newData.basic_information.value[0]?.state_name}},{{newData.basic_information.value[0]?.country_name}}</p>
</div>

                    </div>
                    </ng-container>

                    <ng-template #noThumbnail>
                    <div
                    *ngIf="newData.basic_information.value[0]?.gender == 'M';then his_cont else her_cont">
                    here is ignored</div>
                    <ng-template #his_cont>
                      <div class="thumbnailSec_res" [style.background-image]="'url(assets/images/male_pro_big_list.png)'">

                        <ng-container *ngIf="this.localstorageDT.id != this.profile_UserId">
                          <button mat-mini-fab matTooltip="Remove From Wishlist"  class="astro_link_wish" color="warn"  (click)="enableButton(newData.basic_information.value[0]?.id,i)" aria-label="Example icon button with a heart icon">
                                  <mat-icon>favorite</mat-icon>
                                </button>
                          </ng-container>

                        <div class="verificationPartner_res">
                          <div class="verifi_btn_res" *ngIf="newData.basic_information.value[0]?.profile_verify_flag != 'N'"><img src="assets/images/verify_blue.png" alt="" />Verified</div>
                          
                          <div class="notVerifi_btn_res" *ngIf="newData.basic_information.value[0]?.profile_verify_flag != 'Y'"><img src="assets/images/verify_not.png" alt="" />Not Verified</div>
                          
                          </div>
                          <div class="thumbnailSec_Descrip_res">
                          
                          <h3>{{newData.basic_information.value[0]?.u_name}}
                          <ng-container *ngIf="newData.basic_information.value[0]?.profile_id != null">
                          <span>(ID: {{newData.basic_information.value[0]?.profile_id}})</span>
                          </ng-container>
                          </h3>
                          
                          <p><strong class="title">Age:			</strong>{{ageCalculat(newData.basic_information.value[0]?.dob |
                          date:'yyyy-MM-dd')}} Years, <strong class="title">Height:</strong>
                          {{this.field_height_OBJ[newData.basic_information.value[0]?.height]}}
                          
                          , {{newData.basic_information.value[0]?.mother_tong}},, </p>
                          <p><strong class="title">Cast:</strong>
                          {{newData.basic_information.value[0]?.caste_name}} 
                          <strong class="title">Occupation:
                          </strong>{{newData.groom_location.value[0]?.occu_name}}, <strong
                          class="title">Lives In</strong> {{newData.basic_information.value[0]?.state_name}},{{newData.basic_information.value[0]?.country_name}}</p>
                          </div>
                      </div>
                    </ng-template>
                    <ng-template #her_cont>
                      <div class="thumbnailSec_res" [style.background-image]="'url(assets/images/Fem_pro_big_list.png)'">

                        <ng-container *ngIf="this.localstorageDT.id != this.profile_UserId">
                          <!-- <button mat-mini-fab matTooltip="Remove From Wishlist"  class="astro_link_wish" color="warn"  (click)="enableButton(newData.basic_information.value[0]?.id,i)" aria-label="Example icon button with a heart icon">
                                  <mat-icon>favorite</mat-icon>
                                </button> -->
                                <div class="removeFevarit_res">
        <button matTooltip="Remove From Wishlist"  class="removeFevarit_btn" (click)="enableButton(newData.basic_information.value[0]?.id,i)"><i class="fa fa-heart" aria-hidden="true"></i>
           Remove</button>
          </div>
                          </ng-container>
                          
                        <div class="verificationPartner_res">
                          <div class="verifi_btn_res" *ngIf="newData.basic_information.value[0]?.profile_verify_flag != 'N'"><img src="assets/images/verify_blue.png" alt="" />Verified</div>
                          
                          <div class="notVerifi_btn_res" *ngIf="newData.basic_information.value[0]?.profile_verify_flag != 'Y'"><img src="assets/images/verify_not.png" alt="" />Not Verified</div>
                          
                          </div>
                          <div class="thumbnailSec_Descrip_res">
                          
                          <h3>{{newData.basic_information.value[0]?.u_name}}
                          <ng-container *ngIf="newData.basic_information.value[0]?.profile_id != null">
                          <span>(ID: {{newData.basic_information.value[0]?.profile_id}})</span>
                          </ng-container>
                          </h3>
                          
                          <p><strong class="title">Age:			</strong>{{ageCalculat(newData.basic_information.value[0]?.dob |
                          date:'yyyy-MM-dd')}} Years, <strong class="title">Height:</strong>
                          {{this.field_height_OBJ[newData.basic_information.value[0]?.height]}}
                          
                          , {{newData.basic_information.value[0]?.mother_tong}},, </p>
                          <p><strong class="title">Cast:</strong>
                          {{newData.basic_information.value[0]?.caste_name}} 
                          <strong class="title">Occupation:
                          </strong>{{newData.groom_location.value[0]?.occu_name}}, <strong
                          class="title">Lives In</strong> {{newData.basic_information.value[0]?.state_name}},{{newData.basic_information.value[0]?.country_name}}</p>
                          </div>
                      </div>
                      <!-- <img src="assets/images/Fem_pro_big_list.png" alt="" class="imgThum_res" /> -->
                    </ng-template>
                    </ng-template>

                  <div class="thumbnailSec_button_res">
                    <p class="dosa_res">Mongal Dosha: <ng-container *ngIf="newData.mongal_dasha == '100'"> <span
                      style="color: red;">High</span></ng-container>
                      <ng-container *ngIf="newData.mongal_dasha == '80'">
                      Medium</ng-container>
                      <ng-container *ngIf="newData.mongal_dasha == '20'">
                      Low</ng-container>
                      <ng-container *ngIf="newData.mongal_dasha == '0'">
                      None</ng-container></p>
                    <!-- <button type="button" class="astro_link_res" data-toggle="modal" data-target="#sendMsgPopup" (click)="showAstroPopup(newData.basic_information.value[0]?.id, this.ownProfileMatchDt2?.id)"><img src="assets/images/astrology.png" alt="" /> Astro Numerical Match </button> -->
                  
<a (click)="memberCheckFn(newData.basic_information.value[0]?.id +'&'+ newData.freetoSee)" class="details_res">Details</a>
                  </div>
                </div>

              </ng-template>
            </owl-carousel-o>
            
          </div>
          
              <div class="portfolio_Search_list_wish" *ngFor="let item of dataArray;let i=index">
                <!-- <div class="portfolio_Search_list_thum_wish">
                  <ng-container
                    *ngIf="item.basic_information.value[0]?.file_path !==  null; else noThumbnailLoginUser ">
                    <img src="{{imageBaseUrl+item.basic_information.value[0]?.file_path}}" alt="" />
                  </ng-container>
                  <ng-template #noThumbnailLoginUser>
                    <div
                      *ngIf="this.dataArray[0].basic_information.value[0]?.gender == 'M';then his_cont_match else her_cont_match">
                      here is ignored</div>
                    <ng-template #his_cont_match><img src="assets/images/male_pro_big.png" alt="" /></ng-template>
                    <ng-template #her_cont_match><img src="assets/images/Fem_pro_big.png" alt="" /> </ng-template>
                  </ng-template>
                  <br>
                  <div class="portfolio_Search_list_descrip_details_wish">
                  <h4>
                    {{item.basic_information.value[0]?.u_name}}
                    <ng-container *ngIf="item.basic_information.value[0]?.profile_id != null">
                      <span>(ID: {{item.basic_information.value[0]?.profile_id}})</span>
                    </ng-container>
                  </h4>
                  <a class="detailsLink_wish" (click)="memberCheckFn(item.basic_information.value[0]?.id +'&'+ item.freetoSee)">Details </a>
                </div>
                </div> -->
                <div class="portfolio_Search_list_thum_wish">
                  <ng-container
                    *ngIf="item.basic_information.value[0]?.file_path !==  null; else noThumbnail">
                    <img src="{{imageBaseUrl+item.basic_information.value[0]?.file_path}}" alt="" />
                  </ng-container>
  
                  <ng-template #noThumbnail>
                    <div
                      *ngIf="item.basic_information.value[0]?.gender == 'M';then his_cont else her_cont">
                      here is ignored</div>
                    <ng-template #his_cont><img src="assets/images/male_pro_big_list.png"
                        alt="" /></ng-template>
                    <ng-template #her_cont><img src="assets/images/Fem_pro_big_list.png"
                        alt="" /></ng-template>
  
                  </ng-template>
                  <!-- <img src="assets/images/profil_a.png" alt=""/> -->
                </div>
                <div class="portfolio_Search_list_descrip_wish">
                  <div class="portfolio_Search_list_descrip_top_wish">
  
                    <!-- <ng-container *ngIf="this.localstorageDT.id != this.profile_UserId">
                      <button mat-mini-fab matTooltip="Remove From Wishlist"  class="astro_link_wish" color="warn"  (click)="enableButton(item.basic_information.value[0]?.id,i)" aria-label="Example icon button with a heart icon">
                              <mat-icon>favorite</mat-icon>
                            </button>
                      </ng-container> -->
  
                    <!-- <ul [class.noBlurStyle]="newData.blurr_content < minListShowData_withoutLog"> -->
                      <ul class="fevourit_ul">
                      
                        <li class="verify" *ngIf="item.basic_information.value[0]?.profile_verify_flag != 'N'"><img src="assets/images/verify_blue.png" alt="" />Verified</li>
                      
                        
                        <li class="verify_not" *ngIf="item.basic_information.value[0]?.profile_verify_flag != 'Y'"><img src="assets/images/verify_not.png" alt="" />Not
                          Verified</li>
                        <ng-container *ngIf="this.localstorageDT.id != this.profile_UserId">
                        <li class="fevourit">

                        <!-- <button mat-mini-fab matTooltip="Remove From Wishlist"  class="astro_link_wish" color="warn"  (click)="enableButton(newData.basic_information.value[0]?.id,i)" aria-label="Example icon button with a heart icon">
                        <mat-icon>favorite</mat-icon>
                        </button> -->

                        <button matTooltip="Remove From Wishlist"  class="removeFevarit_btn" (click)="enableButton(item.basic_information.value[0]?.id,i)"><i class="fa fa-heart" aria-hidden="true"></i>
                        Remove</button>

                        </li>
                        </ng-container>
                          
                    </ul>
  
                    <!-- <div class="tooltip_Popup">Hover over me
                      <span class="tooltiptext_Popup tooltip-bottom_Popup">Tooltip xcvbcvbcvbtext</span>
                      </div> -->
                  </div>
  
                  <div class="portfolio_Search_list_descrip_details_wish">
  
                    <!-- <h3 [class.noBlurStyle]="newData.blurr_content < minListShowData_withoutLog"> -->
                      <h3> 
                        <!-- {{nameShort(newData.basic_information.value[0]?.u_name)}} -->
                        {{item.basic_information.value[0]?.u_name}}
                      <!-- kk {{newData.basic_information.value[0].u_name.split(' ').length-1}} pp
      sssss	{{newData.basic_information.value[0].u_name.split(' ')[1].substr(0, 2)}} hhh -->
                      <ng-container *ngIf="item.basic_information.value[0]?.profile_id != null">
                        <span>(ID: {{item.basic_information.value[0]?.profile_id}})</span>
                      </ng-container>
                    </h3>
  
                    <!-- <p [class.noBlurStyle]="newData.blurr_content < minListShowData_withoutLog"> -->
                      <p>
                      <strong class="title">Age:
                      </strong>{{ageCalculat(item.basic_information.value[0]?.dob |
                      date:'yyyy-MM-dd')}} Years, <strong class="title">Height:</strong>
                      {{this.field_height_OBJ[item.basic_information.value[0]?.height]}}
  
                      , {{item.basic_information.value[0]?.mother_tong}}, <br>
  
                      <strong class="title">Cast:</strong>
                      {{item.basic_information.value[0]?.caste_name}} <br>
                      <strong class="title">Occupation:
                      </strong>{{item.groom_location.value[0]?.occu_name}}, <strong
                        class="title">Lives In</strong> {{item.basic_information.value[0]?.state_name}},{{item.basic_information.value[0]?.country_name}}
                      <!-- <a routerLink="/portfolio_view{{newData.basic_information.value[0]?.id}}">Details</a> -->
  
                    </p>
                    <!-- <a [routerLink]="['/portfolio_view', newData.basic_information.value[0]?.user_id]" class="detailsLink">Details </a> -->
  
  
                    <div class="profileListBlock_wish">
                      <!-- <div class="rashiDetails" [class.noBlurStyle]="newData.blurr_content < 9"> -->
                      <div class="rashiDetails_wish">
                        <ul>
                          <li>Mongal Dosha:
                            <ng-container *ngIf="item.mongal_dasha == '100'"> <span
                                style="color: red;">High</span></ng-container>
                            <ng-container *ngIf="item.mongal_dasha == '80'">
                              Medium</ng-container>
                            <ng-container *ngIf="item.mongal_dasha == '20'">
                              Low</ng-container>
                            <ng-container *ngIf="item.mongal_dasha == '0'">
                              None</ng-container>
                          </li>
                          <!-- <li>Sun Shine: {{newData.sun_shine_rashi_match}}</li>
      <li>Moon Shine:</li>
      <li>Jotok Marks: {{newData.jotok_marks}}</li>
      <li>Numeric Match: {{newData.numeric_match}}</li> -->
                        </ul>
              
                      </div>
                      <!-- <button mat-mini-fab color="warn" (click)="enableButton()" [ngStyle]="{'background-color': buttonColor}" aria-label="Example icon button with a heart icon">
                        <mat-icon>favorite</mat-icon>
                      </button>	 -->
                      <!-- <ng-container >
      
                        <span class="upgrade_Lock">
                        <div class="lockPopupHover">
                        <button type="button" routerLink="/paymentGetway" class="lockPopupHoverLink">Upgrade Now </button>
                        </div>
                        </span>
                      </ng-container>		 -->
                      
  <!-- <a data-toggle="modal" data-target="#sendMsgPopup" class="sendMsg" (click)="sendMsg(this.ownProfileMatchDt2?.id, this.ownProfileMatchDt2?.profile_id, ownProfileMatchDt2?.u_name, this.ownProfileMatchDt2?.email_id, newData.basic_information.value[0].email_id)">Send Message </a> -->
  
                      <a (click)="memberCheckFn(item.basic_information.value[0]?.id +'&'+ item.freetoSee)"
                        class="detailsLink_wish">Details</a>
                    </div>
  
                    <!-- <p><strong>Elementor Match </strong></p>
      <p>{{newData.groom_location.value[0] | json}}</p>
      <p>{{newData.basic_information.value[0] | json}}</p> -->
  
                  </div>
  
                </div>
              </div>
            
        </div>
      
        <ng-template #noData class="noDataDiv_wish" > 
          <p class="noData_wish">Wishlist is empty...!</p>
          <img src="assets/images/no_data_wishlist.png" alt="" />              
          <!-- <img src="assets/images/no_data_wish_male.png" alt="" /> -->
        </ng-template>
      </ng-template>
      <!-- </div> -->
    </div>

    

  </div>
</div>

<div class="footer_bottomSec">
  <a routerLink="/profile_list" class="profList_link_bot"><i class="fa fa-users" aria-hidden="true"></i>
  <span>Matches</span>
  </a>
  <a routerLink="/wishlist" class="wish_link_bot"><i class="fa fa-heart" aria-hidden="true"></i>
  <span>My Wishlist</span>
  </a>
  <a routerLink="/user_dashboard" class="dash_link_bot"><i class="fa fa-tachometer" aria-hidden="true"></i>
  <span>Dashboard</span>
  </a>
  </div>
