
<!-- <app-Before_login_header_N_Home></app-Before_login_header_N_Home> -->

<app-Before_login_header_N_Home [hidden]="withoutLogin_headerShow"></app-Before_login_header_N_Home>
<app-after_login_header_Global [hidden]="afterLogin_headerShow"></app-after_login_header_Global>


<div class="innerMain_wraper">
	<div class="wrapper">

	<div class="col-sm-12">
		<div class="white_block">

		<div class="row">

		<div class="col-sm-12">
		<div class="title_sec_main">
			<h2>Contact Us</h2>
			
		</div>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
		</div>

		
		</div>

		</div>
	</div>

	</div>
	</div>