
<!-- <app-Before_login_header_N_Home></app-Before_login_header_N_Home> -->

<!-- <app-Before_login_header_N_Home [hidden]="withoutLogin_headerShow"></app-Before_login_header_N_Home>
<app-after_login_header_Global [hidden]="afterLogin_headerShow"></app-after_login_header_Global> -->

<div class="rejistrationPageLogo rejistrationPageLogo_Page">  <app-Before_login_header_N_Home [hidden]="withoutLogin_headerShow"></app-Before_login_header_N_Home> </div>

<div class="forDesktopHeader_login"><app-after_login_header_Global [hidden]="afterLogin_headerShow"></app-after_login_header_Global></div>
<div class="forResponsiveHeader_login">
	<app-headerResponsive [hidden]="afterLogin_headerShow"></app-headerResponsive>
</div>

<div class="innerMain_wraper_page">
	<div class="wrapper">

	<div class="col-sm-12">
		<div class="white_block">

		<div class="row">

		<div class="col-sm-12">
		<div class="title_sec_main">
			<h2>Terms & Condition</h2></div>
			<div class="innerDefaultPage">
			<p>
				Welcome to My Soulmate, a platform dedicated to helping individuals find potential life partners through our Astro numerical matchmaking services. By using our website, you agree to adhere to the following terms and conditions:
			</p>
			<h3>Eligibility:</h3>
			<p>You must be of legal age to use our services. By registering with us, you confirm that you are eligible for matrimonial services under the applicable laws.
			</p>
			<h3>Registration and User Accounts:
			</h3>
			<p>
			To access our services, you must create an account. You are responsible for providing accurate and up-to-date information in your profile. False information and abusive behavior will not be tolerated.
			</p>
			<h3>Horoscope Matchmaking:
			</h3>
			<p>
				Our Astro numerical matchmaking service is provided to give you the perfect match. It does not guarantee compatibility or marital success. 
			</p>
			<h3>Privacy and Data Collection:
			</h3>
			<p>
				We respect your privacy. Our data collection and usage are governed by our Privacy Policy, which you should review. We employ industry-standard security measures to protect your information.
			</p>
			<h3>Content Guidelines:
			</h3>
			<p>
			You are responsible for the content you post. Prohibited content includes offensive, misleading, or inappropriate material. We reserve the right to remove or edit content that violates these guidelines.
			</p>
			<h3>Termination of Accounts:
			</h3>
			<p>
			We reserve the right to suspend or terminate your account if you violate our terms and conditions or engage in improper conduct. You will be notified if such action is taken.
			</p>
			<h3>Fees and Billing:
			</h3>
			<p>We offer premium services that may involve fees. Pricing, and payment methods policies are detailed on our website. By using these services, you agree to the associated charges.
			</p>
			<h3>Liability and Disclaimers:
			</h3>
			<p>MySoulMate is not responsible for the success or failure of any match. We disclaim liability for any losses or damages incurred while using our services. You use our platform at your own risk.
			</p>
			<h3>Changes to Terms and Conditions:
			</h3>
			<p>
				We may update these terms and conditions from time to time. We will notify you of any changes, and your continued use of our website implies your acceptance of the updated terms.

				If you have any questions or concerns, please contact us at us. By using our website, you agree to these terms and conditions, and you acknowledge having read our Privacy Policy. Thank you for choosing MySoulMate.

			</p>
		</div>
		
		</div>

		
		</div>

		</div>
	</div>

	</div>
	</div>

	<div class="footer_bottomSec">

		<a routerLink="/home" class="login_link_bot"><i class="fa fa-home" aria-hidden="true"></i>
			<span>Home</span>
			</a>

		<a routerLink="/aboutus" class="login_link_bot">
			<i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
		<span>About Us</span>
		</a>
	
		<!-- <a routerLink="/terms-condition" class="login_link_bot">
			<i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
		<span>Terms Of Condition</span>
		</a> -->
	
		<a routerLink="/privacypolicy" class="login_link_bot">
			<i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
		<span>Privacy Policy</span>
		</a>
		</div>