<!-- <app-Before_login_header_N_Home [hidden]="withoutLogin_headerShow"></app-Before_login_header_N_Home> -->
<!-- <app-after_login_header_Global [hidden]="afterLogin_headerShow"></app-after_login_header_Global> -->

<!-- <div class="forResponsiveHeader_login"><app-headerResponsive [hidden]="afterLogin_headerShow"></app-headerResponsive></div> -->

<div class="otp_wrapper">
	<div class="col-sm-12">
		<div class="white_block_forget white_blockOTP">
      <!-- {{linkExpired}} -->
      <div class="expired" *ngIf="!linkExpired">
        <img src="assets/images/expired.png" alt="">
        <p> Link has been expired..!</p>
        <p>To reset your password,return to the login page and select "forget your password" to send a new email.</p>
      </div>
      <div class="row" *ngIf="linkExpired">
        <div class="col-sm-12">
        <div class="title_sec_main">
          <h2>Forget Password </h2></div>
          <div class="innerDefaultPage">
           <div class="otpField_Main">
            <form  [formGroup]="passwordForm" autocomplete="off" >
            <div class="otpField_Main_sub" >
              <div class="otpField_Sub_field">
                <div class="field_outer_label field_outer_label_OTP">
                      <mat-form-field>
                        <mat-label>Enter New Password</mat-label>
                        <input matInput formControlName="new_pass_1" [type]="hide_new ? 'password' : 'text'" (keyup)="validatePasswordMatch()" >
                        <button mat-icon-button matSuffix (click)="hide_new = !hide_new" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_new">
                          <mat-icon>{{hide_new ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        </mat-form-field>
      
        <!-- <div *ngIf="!checkPassword" style="position: absolute; top: 100%; line-height: 15px;"> -->
        <!-- </div> -->
      
        <!-- <div class="validation_div" *ngIf="!passwordForm.controls.new_pass?.valid && (passwordForm.controls.new_pass?.dirty ||passwordForm.controls.new_pass?.touched)"> *Please provide a password </div> -->
                   
  
              
              <!-- <div class="validation_OTP" *ngIf="!otpFormGroup.controls.otp_phone?.valid && (otpFormGroup.controls.otp_phone?.dirty ||otpFormGroup.controls.otp_phone?.touched)"> -->
               <!-- {{signUpMsg}} -->
               
            </div>      	
            </div>  
            <div class="otpField_Sub_field">
              <div class="field_outer_label field_outer_label_OTP">
              <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="new_pass" [type]="hide_con ? 'password' : 'text'" (keyup)="validatePasswordMatch()">
                <button mat-icon-button matSuffix (click)="hide_con = !hide_con" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_con">
                  <mat-icon>{{hide_con ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                </mat-form-field>
                <small class="text-danger">
                  <ng-container *ngIf="errorPass">
                    {{errorPass}}
                  </ng-container>
                  </small>


<!-- <div class="validation_div" *ngIf="!passwordForm.controls.new_pass?.valid && (passwordForm.controls.new_pass?.dirty ||passwordForm.controls.new_pass?.touched)"> *Please provide a password </div> -->
            
              </div>
            </div>
            <input type="button" value="Submit" (click)="submit()" [disabled]="passwordForm.invalid || isButtonDisabled">
             </div>
          </form>
           </div>
    
    </div>
    
        
        </div>
    
        </div>
      </div>
      </div>
      </div>
